<!DOCTYPE html>
<div>
    First Name: <input class="firstName" type="text">
    Last Name : <input class="lastName" type="text">
    ID : <input class="id" type="text">
    Age : <input class="age" type="text">


    <a class="btn btn-primary btn-lg" role="button" ng-click="back()">Back </a> <br>
    <a class="btn btn-primary btn-lg" role="button" ng-click="reset()">Reset</a> <br>
    <a class="btn btn-primary btn-lg" role="button" ng-click="save()">Save </a> <br>
    <a class="btn btn-primary btn-lg" role="button" ng-show="show" ng-click="show()">Show/Hide User List  </a> <br>
</div>